//
// Breadcrumb
//
// Styleguide Components.Breadcrumb
//


//
// Examples
//
// Markup:
// <div>
//     <ul class="breadcrumb">
//         <li><a>Home</a></li>
//         <li><a>Pages</a></li>
//         <li><span>This Page</span></li>
//     </ul>
// </div>
// <div class="base-margin-top">
//     <ul class="breadcrumb">
//         <li><a><span class="icon-home"></span></a></li>
//         <li><a>Devices</a></li>
//         <li><a>Switches</a></li>
//         <li><span>Cisco Catalyst 3750E</span></li>
//     </ul>
// </div>
// <div class="base-margin-top">
//     <ul class="breadcrumb">
//         <li><a>Downloads Home</a></li>
//         <li><a>Security</a></li>
//         <li><a>Firewalls</a></li>
//         <li>...</li>
//         <li><a>Software on Chassis</a></li>
//         <li><a>Adaptive Security Appliance (ASA) Software</a></li>
//         <li><span>9.1.7 Interim</span></li>
//     </ul>
// </div>
//
// Weight: 1
//
// Styleguide Components.Breadcrumb.Examples
//

.breadcrumb {

    @include clearfix;
    @include list--unstyled;

    margin: 0;
    padding: 0;
    background: 0 none;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    > li {
        &.active {
            color: $breadcrumb-color;
        }

        + li:before {
            padding: $breadcrumb-padding;
            color: $base-muted-color;
            content: $breadcrumb-separator;
        }
    }
}
