//
// Carousel
//
// Styleguide Components.Carousel
//


//
// Color
//
// <blockquote>Add the class `active` to the slide and the controls to denote current element.<br>Add the class `slideInLeft` or `slideInRight` to add sliding animations to your carousel.</blockquote>
//
// Markup:
// <div class="row">
//     <div class="col-md-4">
//         <div class="subheader">Blue Controls (default)</div>
//         <div class="carousel">
//             <div id="slide-9300-content" class="carousel__slide active">
//                 <img class="img img--fluid" src="public/img/9300-switches.png">
//                 <h4 class="text-center">9300 Series Switches</h4>
//             </div>
//             <div id="slide-9400-content" class="carousel__slide">
//                 <img class="img img--fluid" src="public/img/9400-switches.jpg">
//                 <h4 class="text-center">9400 Series Switches</h4>
//             </div>
//             <div id="slide-9500-content" class="carousel__slide">
//                 <img class="img img--fluid" src="public/img/9500-switches.png">
//                 <h4 class="text-center">9500 Series Switches</h4>
//             </div>
//             <div class="carousel__controls">
//                 <a class="back">
//                     <span class="icon-chevron-left"></span>
//                 </a>
//                 <a id="slide-9300" class="dot active"><span class="icon-circle"></span></a>
//                 <a id="slide-9400" class="dot"><span class="icon-circle"></span></a>
//                 <a id="slide-9500" class="dot"><span class="icon-circle"></span></a>
//                 <a class="next">
//                     <span class="icon-chevron-right"></span>
//                 </a>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-4">
//         <div class="subheader">Indigo Controls</div>
//         <div class="carousel carousel--indigo">
//             <div id="slide-3800i-content" class="carousel__slide active">
//                 <img class="img img--fluid" src="public/img/wireless-3800i.png">
//                 <div class="row">
//                     <div class="col-md-6 offset-md-3">
//                         <h4>Aironet 3800i AP</h4>
//                     </div>
//                 </div>
//             </div>
//             <div id="slide-3800e-content" class="carousel__slide">
//                 <img class="img img--fluid" src="public/img/wireless-3800e.png">
//                 <div class="row">
//                     <div class="col-md-6 offset-md-3">
//                         <h4>Aironet 3800e AP</h4>
//                     </div>
//                 </div>
//             </div>
//             <div id="slide-3800p-content" class="carousel__slide">
//                 <img class="img img--fluid" src="public/img/wireless-3800p.png">
//                 <div class="row">
//                     <div class="col-md-6 offset-md-3">
//                         <h4>Aironet 3800p AP</h4>
//                     </div>
//                 </div>
//             </div>
//             <div class="carousel__controls">
//                 <a class="back">
//                     <span class="icon-chevron-left"></span>
//                 </a>
//                 <a id="slide-3800i" class="dot active"><span class="icon-circle"></span></a>
//                 <a id="slide-3800e" class="dot"><span class="icon-circle"></span></a>
//                 <a id="slide-3800p" class="dot"><span class="icon-circle"></span></a>
//                 <a class="next">
//                     <span class="icon-chevron-right"></span>
//                 </a>
//             </div>
//         </div>
//     </div>
// </div>
//
// Weight: 1
//
// Styleguide Components.Carousel.Color
//

.carousel {

    &__slide {
        display: none;

        &.active {
            display: block;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin-top: $base-spacing;

        .back,
        .next {
            color: $base-accent-color;

            &:active,
            &:focus,
            &:hover {
                text-decoration: none;
                color: $base-accent-color;
            }
        }

        .back { margin-right: $base-spacing * 0.5; }
        .next { margin-left: $base-spacing * 0.5; }

        .back.disabled,
        .next.disabled {
            color: $base-muted-color;
        }

        .dot {
            margin: 0 2px;
            font-size: $small-font-size;
            color: $light-gray-2;
            transition: color .5s;

            &:hover,
            &.selected > span,
            &.active > span {
                color: $base-accent-color;
                text-decoration: none;
            }
        }
    }

    &--indigo {
        .carousel__controls {
            .back,
            .next,
            .dot:hover,
            .dot.selected > span,
            .dot.active > span {
                color: $indigo;
            }
            .back,
            .next {
                color: $indigo;
                &:active,
                &:focus,
                &:hover {
                    color: $indigo;
                }
            }
        }
    }
}
