//
// Dropdown
//
// Simple dropdown menu.<br><br>
// Since 1.2.0
//
// Styleguide Components.Dropdown
//


//
// Examples
//
// <blockquote>Add class `btn--dropdown` to your button to add a toggle and class `active` to display the menu.</blockquote>
//
// Markup:
// <div class="dropdown">
//     <button class="btn btn--dropdown">Dropdown</button>
//     <div class="dropdown__menu">
//         <a>Action One</a>
//         <a>Action Two</a>
//         <a>Action Three</a>
//     </div>
// </div>
// <div class="dropdown">
//     <button class="btn btn--primary btn--dropdown">Dropdown</button>
//     <div class="dropdown__menu">
//         <a>Action One</a>
//         <a>Action Two</a>
//         <a>Action Three</a>
//     </div>
// </div>
// <div class="dropdown">
//     <button class="btn btn--primary-ghost btn--dropdown">Dropdown</button>
//     <div class="dropdown__menu">
//         <a>Action One</a>
//         <a>Action Two</a>
//         <a>Action Three</a>
//     </div>
// </div>
//
// Weight: 1
//
// Styleguide Components.Dropdown.Examples
//


//
// Direction
//
// <blockquote>Your dropdown menu can open right (default) or left.</blockquote>
//
// Markup:
// <div class="dropdown">
//     <button class="btn btn--primary btn--dropdown">Open Right</button>
//     <div class="dropdown__menu">
//         <a>Action One</a>
//         <a>Action Two</a>
//         <a>Action Three</a>
//     </div>
// </div>
// <div class="dropdown">
//     <button class="btn btn--primary btn--dropdown">Open Left</button>
//     <div class="dropdown__menu dropdown__menu--openleft">
//         <a>Action One</a></li>
//         <a>Action Two</a>
//         <a>Action Three</a>
//     </div>
// </div>
//
// Weight: 2
//
// Styleguide Components.Dropdown.Direction
//


//
// Selection
//
// <blockquote>Add the class `selected` to a menu item to denote selection.</blockquote>
//
// Markup:
// <div class="dropdown">
//     <button class="btn btn--primary btn--dropdown">Action One</button>
//     <div class="dropdown__menu">
//         <a class="selected">Action One</a>
//         <a>Action Two</a>
//         <a>Action Three</a>
//     </div>
// </div>
//
// Weight: 3
//
// Styleguide Components.Dropdown.Selection
//


//
// Divider
//
// <blockquote>Add a divider to group menu items.</blockquote>
//
// Markup:
// <div class="dropdown">
//     <button class="btn btn--primary btn--dropdown">Divider</button>
//     <div class="dropdown__menu">
//         <a>Action One</a>
//         <a>Action Two</a>
//         <div class="dropdown__divider"></div>
//         <a>Action Three</a>
//     </div>
// </div>
//
// Weight: 4
//
// Styleguide Components.Dropdown.Divider
//


//
// Animation
//
// <blockquote>Add the class `dropdown--animated` to add a subtle animation to your dropdown.</blockquote>
//
// Markup:
// <div class="dropdown dropdown--animated">
//     <button class="btn btn--primary btn--dropdown">Animated</button>
//     <div class="dropdown__menu">
//         <a>Action One</a>
//         <a>Action Two</a>
//         <div class="dropdown__divider"></div>
//         <a>Action Three</a>
//     </div>
// </div>
//
// Weight: 5
//
// Styleguide Components.Dropdown.Animation
//

.dropdown {
    display: inline-block;
    position: relative;

    &.active {
        .dropdown__menu {
            visibility: visible;
            opacity: 1;
            z-index: $base-dropdown-zindex;
        }
        .btn.btn--dropdown {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    &--animated {
        .btn.btn--dropdown {
            &:after {
                transition: transform 0.1s ease-in;
            }
        }
    }
    &--animated.active {
        .btn.btn--dropdown {
            &:after {
                transition: transform 0.1s ease-in-out;
            }
        }
    }

    .btn.btn--dropdown {
        padding: 0 ($base-spacing * 0.5);

        > span {
            margin-right: $base-spacing * 0.25;
        }
        &:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: $base-spacing * 0.5;
            content: "";
            vertical-align: middle;
            border-top-width: 6px;
            border-top-style: solid;
            border-top-color: initial;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-bottom-width: 0;
            transform: rotate(0);
        }
    }

    &__divider {
        height: 1px;
        overflow: hidden;
        background-color: $base-border-color;
    }

    &__menu {
        @include list--unstyled;
        margin: 0;
        padding: 0;
    	position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 100%;
        left: 0; // Open right
        margin-top: 3px;
    	z-index: -1;
        min-width: $base-dropdown-menu-minwidth;
        max-width: $base-dropdown-menu-maxwidth;
    	background-color: $white;
    	text-align: left;
        border-top: $base-dropdown-menu-accent;
        border-radius: 0 0 2px 2px;
    	box-shadow: $base-box-shadow;

        &--openleft {
            left: unset;
            right: 0; // Open left
        }

    	a {
            height: $base-dropdown-menu-item-height;
            line-height: $base-dropdown-menu-item-height;
            display: inline-block;
            vertical-align: middle;
            color: $base-font-color;
            padding: 0 40px 0 ($base-spacing * 0.5);
            width: 100%;
            position: relative;

            overflow: hidden;
            text-overflow: ellipsis;
            max-width: $base-dropdown-menu-maxwidth;
            white-space: nowrap;

            &.selected {
                color: $base-accent-color;

                &:after {
                    @include icon-check;
                    position: absolute;
                    right: $base-spacing * 0.5;
                    font-weight: bold;
                }
            }

            &:hover {
                cursor: pointer;
                background: $base-dropdown-menu-hover;
            }
    	}
    }
}
