//
// Hero
//
// Since: 1.0.0
//
// Styleguide Components.Hero
//


//
// Color
//
// Markup:
// <div class="hero hero--blue">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Blue</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--ltgray">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Light Gray</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--mdgray">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Medium Gray</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--dkgray">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Dark Gray</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--dkblue">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Dark Blue</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--indigo">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Indigo</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
//
// Weight: 1
//
// Styleguide Components.Hero.Color
//


//
// Padding
//
// Markup:
// <div class="hero hero--blue hero--compressed">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Compressed</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--blue hero--regular">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Regular (default)</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--blue hero--loose">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Loose</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
//
// Weight: 2
//
// Styleguide Components.Hero.Padding
//


//
// Background
//
// <blockquote>Use our collection of pre-defined hero background images</blockquote>
//
// Markup:
// <div class="hero hero--loose">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background Default</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-1">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background <sup>#1</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-2">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background <sup>#2</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-3">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background <sup>#3</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-4">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background <sup>#4</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-5">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background <sup>#5</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
//
// Weight: 3
//
// Styleguide Components.Hero.Background
//


//
// Background Position
//
// <blockquote>All background images are centered by default. However, you can also position them 'top' or 'bottom'</blockquote>
//
// Markup:
// <div class="hero hero--loose hero--background-1 hero--background-top">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background Position <sup>top</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-1 hero--background-bottom">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Background Position <sup>bottom</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
//
// Weight: 4
//
// Styleguide Components.Hero.Background Position
//


//
// Background Filters
//
// <blockquote>Add colored filters to your background images</blockquote>
//
// Markup:
// <div class="hero hero--loose hero--background-3 hero--filter-blue">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Filter <sup>blue</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-3 hero--filter-dkgray">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Filter <sup>dark gray</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-3 hero--filter-dkblue">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Filter <sup>dark blue</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--background-3 hero--filter-smoke">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Filter <sup>smoke</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
//
// Weight: 5
//
// Styleguide Components.Hero.Background Filters
//


//
// Split Hero
//
// Markup:
// <div class="hero hero--loose hero--split">
//     <div class="hero__content hero--indigo">
//         <div class="container">
//             <h1>Split <sup>left</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
//     <div class="hero__marquee hero--background-3 hero--filter-blue"></div>
// </div>
// <br>
// <div class="hero hero--loose hero--split">
//     <div class="hero__marquee hero--background-2"></div>
//     <div class="hero__content hero--indigo">
//         <div class="container">
//             <h1>Split <sup>right</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
// </div>
// <br>
// <div class="hero hero--loose hero--split hero--split-25">
//     <div class="hero__content hero--indigo">
//         <div class="container">
//             <h1>Split <sup>25%</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
//     <div class="hero__marquee hero--background-3"></div>
// </div>
// <br>
// <div class="hero hero--loose hero--split hero--split-33">
//     <div class="hero__content hero--indigo">
//         <div class="container">
//             <h1>Split <sup>33%</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
//     <div class="hero__marquee hero--background-3"></div>
// </div>
// <br>
// <div class="hero hero--loose hero--split hero--split-66">
//     <div class="hero__content hero--indigo">
//         <div class="container">
//             <h1>Split <sup>66%</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
//     <div class="hero__marquee hero--background-3"></div>
// </div>
// <br>
// <div class="hero hero--loose hero--split hero--split-75">
//     <div class="hero__content hero--indigo">
//         <div class="container">
//             <h1>Split <sup>75%</sup></h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
//         </div>
//     </div>
//     <div class="hero__marquee hero--background-3"></div>
// </div>
//
// Weight: 6
//
// Styleguide Components.Hero.Split
//


//
// Toolbar
//
// Markup:
// <div class="hero">
//     <div class="container">
//         <div class="hero__content">
//             <h1>Hero with Toolbar</h1>
//             <div class="row">
//                 <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet risus sodales iaculis congue. In consequat condimentum orci nec pellentesque.</p>
//             </div>
//         </div>
//         <div class="hero__toolbar">
//            <button class="btn btn--icon btn--white-ghost">
//               <span class="icon-user"></span>
//            </button>
//            <button class="btn btn--icon btn--white-ghost">
//               <span class="icon-plus"></span>
//            </button>
//            <button class="btn btn--icon btn--white-ghost">
//               <span class="icon-trash"></span>
//            </button>
//            <button class="btn btn--secondary pull-right">Click Me</button>
//         </div>
//     </div>
// </div>
//
// Weight: 7
//
// Styleguide Components.Hero.Toolbar
//

// Test for valid gradient direction
@function is-direction($value) {
    $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
    @return $is-keyword or $is-angle;
}

@mixin linear-gradient($direction, $color-stops) {
    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: 180deg;
    }
    $stops: ();
    @each $stop in $color-stops {
        $stops: append($stops, $stop, comma);
    }
    background: linear-gradient($direction, $stops);
}

$hero-spacing-compressed: ($base-spacing * .5) 0 ($base-spacing * .25);
$hero-spacing-regular: ($base-spacing * 2) 0 ($base-spacing * 1.5);
$hero-spacing-loose: ($base-spacing * 3) 0 ($base-spacing * 5);

$hero-title-font-size-mobile: 28px;
$hero-title-font-size-small: 32px;
$hero-title-font-size-medium: 38px;
$hero-title-font-size-large: 44px;

$hero-gradient-default: (rgba($black, .75) 0%, rgba($black, .1) 50%);
$hero-gradient-transparency: (rgba($black, .75) 50%, rgba($light-gray-2, .25) 100%);

$hero-solids:
    (blue, $base-panel-blue-color, $base-panel-blue-background),
    (blue2, $base-panel-blue-color, $cisco-blue2),
    (ltgray, $base-panel-ltgray-color, $base-panel-ltgray-background),
    (mdgray, $base-panel-mdgray-color, $base-panel-mdgray-background),
    (dkgray, $base-panel-dkgray-color, $base-panel-dkgray-background),
    (dkblue, $base-panel-dkblue-color, $base-panel-dkblue-background),
    (indigo, $base-panel-indigo-color, $base-panel-indigo-background);

$hero-backgrounds:  (1, '#{$cui-resource-path}/img/hero-bg-1.jpg'),
(2, '#{$cui-resource-path}/img/hero-bg-2.jpg'),
(3, '#{$cui-resource-path}/img/hero-bg-3.jpg'),
(4, '#{$cui-resource-path}/img/hero-bg-4.jpg'),
(5, '#{$cui-resource-path}/img/hero-bg-5.jpg');

$hero-filters:  ("blue", "solid", rgba($cisco-blue, .25)),
("dkgray", "solid", rgba($dark-gray-2, .5)),
("dkblue", "solid", rgba($dark-blue, .75)),
("smoke", "linear", (rgba($black, .75) 50%, rgba($light-gray-2, .25) 100%));

$hero-padding:  (skinny, $hero-spacing-compressed),
(compressed, $hero-spacing-compressed),
(regular, $hero-spacing-regular),
(loose, $hero-spacing-loose);

.apollo-hero, // Deprecated. Use .hero instead
.hero {
    color: $white;
    position: relative;
    background: url('#{$cui-resource-path}/img/splash-default.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;

    // Adds a gradient to the hero background
    &:after,
    .hero__marquee:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        @include linear-gradient(to right, $hero-gradient-default);
    }

    // Gradients
    // Dark, Darker, Darkest
    // Light, Lighter, Lightest
    // LTR, RTL, TTB, BTT, RAD

    &__title {
        font-size: $hero-title-font-size-mobile;
        @include media-breakpoint-up(md)  { font-size: $hero-title-font-size-small; }
        @include media-breakpoint-up(lg) { font-size: $hero-title-font-size-medium; }
        @include media-breakpoint-up(xl)  { font-size: $hero-title-font-size-large; }
    }

    // Generate hero solid backgrounds
    @each $solid-name, $solid-color, $solid-bg in $hero-solids {
        &--#{$solid-name} {
            &:after {
                background: none; // No gradients or filters for solids
            }
            @include panel($color: #{$solid-color}, $background: #{$solid-bg});
        }
    }

    // Generate hero background images
    @each $bg-name, $bg-url in $hero-backgrounds {
        &--background-#{$bg-name},
        .hero__marquee.hero--background-#{$bg-name} {
            background: url(#{$bg-url}) no-repeat center center;
            background-size: cover;
        }
    }
    &--background-top { background-position: top center; }
    &--background-bottom { background-position: bottom center; }

    // Generate hero filters
    @each $filter-name, $filter-type, $filter in $hero-filters {
        &--filter-#{$filter-name},
        .hero__marquee.hero--filter-#{$filter-name} {
            &:after {
                @if ($filter-type == "solid") {
                    background: #{$filter};
                }
                @if ($filter-type == "linear") {
                    @include linear-gradient(to right, #{$filter});
                }
            }
        }
    }

    // Generate hero padding
    @each $pad-name, $pad-size in $hero-padding {
        &--#{$pad-name} {
            .hero__content {
                @include panel-padding($padding: #{$pad-size});
            }
        }
    }

    &--transparency {
        &:after {
            @include linear-gradient(to right, $hero-gradient-transparency);
        }
    }

    &--nogradient {
        &:after,
        .hero__marquee:after {
            background: 0 none;
        }
    }

    &--bordered {
        border: $base-border;
    }

    &__content {
        position: relative;
        @include panel-padding($padding: $hero-spacing-regular);
        max-width: 100%;

        h1,h2 {
            font-weight: 200;
        }
    }

    &__toolbar {
        @include clearfix;
        position: relative;
        margin-bottom: $base-spacing;

        @include media-breakpoint-up(lg) {
            margin-bottom: $base-spacing * 2;
        }

        .button {
            margin-right: $base-spacing * 0.5;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__content,
    &__toolbar {
        z-index: 1;
    }

    &--split {
        display: flex;
        background: none;

        .hero__content,
        .hero__marquee {
            width: 50%;
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:after {
            background: none;
        }
    }

    &--split-25 { .hero__content { width: 25%; } .hero__marquee { width: 75%; }}
    &--split-33 { .hero__content { width: 33%; } .hero__marquee { width: 66%; }}
    &--split-50 { .hero__content { width: 50%; } .hero__marquee { width: 50%; }}
    &--split-66 { .hero__content { width: 66%; } .hero__marquee { width: 33%; }}
    &--split-75 { .hero__content { width: 75%; } .hero__marquee { width: 25%; }}

    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;

        .hero__content,
        .hero__marquee {
            width: 100%;
        }
    }
}
