//
// Toast
//
// Styleguide Components.Toast
//


//
// Padding
//
// Markup:
// <div class="row">
//     <div class="col-md-4">
//         <div class="subheader">Compressed</div>
//         <div class="toast toast--compressed">
//             <div class="toast__icon text-info icon-info-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Title</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-4">
//         <div class="subheader">Regular (default)</div>
//         <div class="toast toast--regular">
//             <div class="toast__icon text-info icon-info-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Title</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-4">
//         <div class="subheader">Loose</div>
//         <div class="toast toast--loose">
//             <div class="toast__icon text-info icon-info-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Title</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
//             </div>
//         </div>
//     </div>
// </div>
//
// Weight: 1
//
// Styleguide Components.Toast.Padding
//


//
// Severity
//
// Markup:
// <div class="row">
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-success icon-check-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Success</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-info icon-info-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Information</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-warning icon-warning-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Warning</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-danger icon-error-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Danger</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//             </div>
//         </div>
//     </div>
// </div>
//
// Weight: 2
//
// Styleguide Components.Toast.Severity
//


//
// Examples
//
// Markup:
// <div class="row">
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-success icon-check-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Upload Complete</div>
//                 <div class="toast__message">Successfully uploaded file <span class="text-muted">cfg_449021_cat.pkg</span> 297kb</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-danger icon-error-outline"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Operation Failed</div>
//                 <div class="toast__message">Failed to add device <i>SJ-33998-Lab4-Rack1</i> to inventory. Maximum device limit reached. <br><br> Click <a href="http://www.cisco.com" target="_blank">here</a> for more details</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__body">
//                 <div class="toast__title">No Icon</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//             </div>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="toast">
//             <div class="toast__icon text-muted icon-alert"></div>
//             <div class="toast__body">
//                 <div class="toast__title">Long Message Truncated</div>
//                 <div class="toast__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt purus mauris. Nam massa sem, ullamcorper vitae leo sit amet, elementum elementum magna. Maecenas lacinia sollicitudin turpis, eu pulvinar justo blandit id. Etiam nulla quam, viverra nec metus ...</div>
//             </div>
//         </div>
//     </div>
// </div>
//
// Weight: 3
//
// Styleguide Components.Toast.Examples
//

.toast {

    @include panel();
    @include panel-padding();

    display: flex;
    align-items: flex-start;
    max-width: $toast-max-width;
    border: $toast-border-width solid rgba(0, 0, 0, $toast-border-opacity);
    box-shadow: $toast-box-shadow;

    &__icon {
        min-width: $base-spacing;
        font-size: $toast-icon-size;
        line-height: $toast-icon-size;
    }

    &__title {
        font-weight: bold;
    }

    &--compressed   { @include panel-padding($base-panel-compressed-padding); }
    &--regular      { @include panel-padding($base-panel-regular-padding); }
    &--loose        { @include panel-padding($base-panel-loose-padding); }
}

.toast + .toast {
    margin-top: $base-panel-regular-padding;
}

.toast__icon + .toast__body {
    margin-left: $base-panel-regular-padding;
}

// Global Modifiers

&.cui--compressed .toast {
    @include panel-padding($base-panel-compressed-padding);
}
