//
// Button
//
// sketch
//
// Styleguide Primitives.Button
//


//
// Size
//
// Markup:
// <button class="btn btn--small">Small</button>
// <button class="btn">Default</button>
// <button class="btn btn--wide">Wide</button>
//
// Weight: 1
//
// Styleguide Primitives.Button.Size
//


//
// Color
//
// Markup:
// <button class="btn">Default</button>
// <button class="btn btn--primary">Primary</button>
// <button class="btn btn--secondary">Secondary</button>
// <button class="btn btn--negative">Negative</button>
// <button class="btn btn--success">Success</button>
// <button class="btn btn--gray-ghost">Gray Ghost</button>
// <button class="btn btn--white">White</button>
// <button class="btn btn--white-ghost">White Ghost</button>
//
// Weight: 2
//
// Styleguide Primitives.Button.Color
//


//
// Disabled
//
// Markup:
// <button class="btn disabled">Default</button>
// <button class="btn btn--primary disabled">Primary</button>
// <button class="btn btn--secondary disabled">Secondary</button>
// <button class="btn btn--negative disabled">Negative</button>
// <button class="btn btn--success disabled">Success</button>
// <button class="btn btn--gray-ghost disabled">Gray Ghost</button>
// <button class="btn btn--white disabled">White</button>
// <button class="btn btn--white-ghost disabled">White Ghost</button>
//
// Weight: 3
//
// Styleguide Primitives.Button.Disabled
//


//
// Allowed Backgrounds
//
// <blockquote>Use this guide to determine which buttons can be used on which backgrounds.</blockquote>
//
// Markup:
// <div class="row no-gutters">
//     <div class="col-md-3 panel panel--bordered text-center">
//        <h3>White BG</h3><br>
//        <div><button class="btn">Default</button></div><br>
//        <div><button class="btn btn--primary">Primary</button></div><br>
//        <div><button class="btn btn--secondary">Secondary</button></div><br>
//        <div><button class="btn btn--negative">Negative</button></div><br>
//        <div><button class="btn btn--success">Success</button></div><br>
//        <div><button class="btn btn--gray-ghost">Gray Ghost</button></div><br>
//     </div>
//     <div class="col-md-3 panel panel--ltgray text-center">
//        <h3>Light Gray BG</h3><br>
//        <div><button class="btn">Default</button></div><br>
//        <div><button class="btn btn--primary">Primary</button></div><br>
//        <div><button class="btn btn--secondary">Secondary</button></div><br>
//        <div><button class="btn btn--negative">Negative</button></div><br>
//        <div><button class="btn btn--success">Success</button></div><br>
//        <div><button class="btn btn--gray-ghost">Gray Ghost</button></div><br>
//     </div>
//     <div class="col-md-3 panel panel--mdgray text-center">
//        <h3>Medium Gray BG</h3><br>
//        <div><button class="btn">Default</button></div><br>
//        <div><button class="btn btn--primary">Primary</button></div><br>
//        <div><button class="btn btn--secondary">Secondary</button></div><br>
//        <div><button class="btn btn--negative">Negative</button></div><br>
//        <div><button class="btn btn--success">Success</button></div><br>
//     </div>
//     <div class="col-md-3 panel panel--dkgray text-center">
//        <h3>Dark Gray BG</h3><br>
//        <div><button class="btn btn--white">White</button></div><br>
//        <div><button class="btn btn--white-ghost">White Ghost</button></div><br>
//     </div>
//     <div class="col-md-3 panel panel--blue text-center">
//        <h3>Blue BG</h3><br>
//        <div><button class="btn btn--white">White</button></div><br>
//     </div>
//     <div class="col-md-3 panel panel--vibblue text-center">
//        <h3>Vibrant Blue BG</h3><br>
//        <div><button class="btn btn--white">White</button></div><br>
//        <div><button class="btn btn--white-ghost">White Ghost</button></div><br>
//     </div>
//     <div class="col-md-3 panel panel--indigo text-center">
//        <h3>Indigo BG</h3><br>
//        <div><button class="btn btn--white">White</button></div><br>
//        <div><button class="btn btn--white-ghost">White Ghost</button></div><br>
//     </div>
// </div>
//
// Weight: 4
//
// Styleguide Primitives.Button.Backgrounds
//


//
// Button Icons
//
// Markup:
// <h6>Small</h6>
// <div class="base-margin-top">
//     <button class="btn btn--icon btn--small"><span class="icon-tools"></span></button>
//     <button class="btn btn--icon btn--small btn--primary"><span class="icon-bookmark"></span></button>
//     <button class="btn btn--icon btn--small btn--secondary"><span class="icon-analysis"></span></button>
//     <button class="btn btn--icon btn--small btn--negative"><span class="icon-power"></span></button>
//     <button class="btn btn--icon btn--small btn--success"><span class="icon-check"></span></button>
// </div>
// <br>
// <h6>Default</h6>
// <div class="base-margin-top">
//     <button class="btn btn--icon"><span class="icon-tools"></span></button>
//     <button class="btn btn--icon btn--primary"><span class="icon-bookmark"></span></button>
//     <button class="btn btn--icon btn--secondary"><span class="icon-analysis"></span></button>
//     <button class="btn btn--icon btn--negative"><span class="icon-power"></span></button>
//     <button class="btn btn--icon btn--success"><span class="icon-check"></span></button>
// </div>
// <br>
// <h6>Large</h6>
// <div class="base-margin-top">
//     <button class="btn btn--icon btn--large"><span class="icon-tools"></span></button>
//     <button class="btn btn--icon btn--large btn--primary"><span class="icon-bookmark"></span></button>
//     <button class="btn btn--icon btn--large btn--secondary"><span class="icon-analysis"></span></button>
//     <button class="btn btn--icon btn--large btn--negative"><span class="icon-power"></span></button>
//     <button class="btn btn--icon btn--large btn--success"><span class="icon-check"></span></button>
// </div>
//
// Weight: 5
//
// Styleguide Primitives.Button.Icon
//

a.btn,
a.btn.btn--icon,
a.btn.btn--icon.btn--small {
    // Fixes issue where anchors used as button elements not properly aligned
    // However, button elements themselves cannot be flex containers which means
    // normal buttons have to use inline-block versus inline-flex :-(
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.btn + .btn {
    margin-left: $aui-button-margin;
}

.btn.small + .btn.small {
    margin-left: $aui-small-button-margin;
}

.btn {
    @include btn-size();
    @include btn-color();

    &.btn--small {
        @include btn-size(
            $padding: $aui-small-button-padding,
            $font-size: $aui-small-button-font-size,
            $line-height: $aui-small-button-line-height,
            $min-width: $aui-small-button-min-width,
            $max-width: $aui-small-button-max-width,
            $height: $aui-small-button-height
        );
    }
    &.btn--wide {
        padding-left: $base-spacing * 3;
        padding-right: $base-spacing * 3;
        max-width: $aui-button-max-width;
    }

    // Generate the button colors from the global variables
    @each $button-obj in $button-colors {
        @if map-get($button-obj, name) == "default" {
            @include btn-color(map-get($button-obj, params)...);
        } @else {
            &.btn--#{map-get($button-obj, name)} {
                @include btn-color(map-get($button-obj, params)...);
            }
        }
    }
    &.btn--square {
        border-radius: 0;
    }
    &.btn--icon {
        border-width: 1px;
        overflow: visible; // To allow for subtext
        position: relative;

        @include btn-size(
            $height: $aui-button-icon-height,
            $line-height: $aui-button-icon-font-size,
            $min-width: $aui-button-icon-width,
            $max-width: $aui-button-icon-width,
            $font-size: $aui-button-icon-font-size,
            $padding: 0
        );

        > span[class^="icon-"] {
            font-size: $aui-button-icon-font-size;
        }

        display: inline-flex;
        align-items: center;
        justify-content: center;

        &.btn--small {
            @include btn-size(
                $height: $aui-small-button-icon-height,
                $line-height: $aui-small-button-icon-font-size,
                $min-width: $aui-small-button-icon-width,
                $max-width: $aui-small-button-icon-width,
                $font-size: $aui-small-button-icon-font-size,
                $padding: 0
            );
        }
        &.btn--large {
            @include btn-size(
                $height: $aui-large-button-icon-height,
                $line-height: $aui-large-button-icon-font-size,
                $min-width: $aui-large-button-icon-width,
                $max-width: $aui-large-button-icon-width,
                $font-size: $aui-large-button-icon-font-size,
                $padding: 0
            );
        }

        .btn__subtext {
            color: $med-gray-2;
            font-size: $xsmall-font-size;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: $aui-button-icon-height + ($base-spacing * 0.25);
            margin: 0;
        }
    }
}


//
// Button Groups
//
// <blockquote>Wrap buttons in a `btn-group` container to create segmented button controls. <br>Add the class `selected` to indicate the selected option. <br>Add the class `disabled` to indicate a disabled option.</blockquote>
//
// Markup:
// <h6 class="section">Small</h6>
// <div class="row">
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--small btn--gray-ghost selected">One</button>
//             <button class="btn btn--small btn--gray-ghost">Two</button>
//             <button class="btn btn--small btn--gray-ghost">Three</button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--small btn--primary-ghost">One</button>
//             <button class="btn btn--small btn--primary-ghost selected">Two</button>
//             <button class="btn btn--small btn--primary-ghost">Three</button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--small btn--gray-ghost">
//                 <span class="icon-edit"></span>
//             </button>
//             <button class="btn btn--small btn--gray-ghost">
//                 <span class="icon-transcript"></span>
//             </button>
//             <button class="btn btn--small btn--gray-ghost selected">
//                 <span class="icon-text-size"></span>
//             </button>
//             <button class="btn btn--small btn--gray-ghost">
//                 <span class="icon-zoom-in"></span>
//             </button>
//             <button class="btn btn--small btn--gray-ghost">
//                 <span class="icon-zoom-out"></span>
//             </button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--small btn--primary-ghost">
//                 <span class="icon-edit"></span>
//             </button>
//             <button class="btn btn--small btn--primary-ghost">
//                 <span class="icon-transcript"></span>
//             </button>
//             <button class="btn btn--small btn--primary-ghost">
//                 <span class="icon-text-size"></span>
//             </button>
//             <button class="btn btn--small btn--primary-ghost selected">
//                 <span class="icon-zoom-in"></span>
//             </button>
//             <button class="btn btn--small btn--primary-ghost">
//                 <span class="icon-zoom-out"></span>
//             </button>
//         </div>
//     </div>
// </div>
// <h6 class="section">Default</h6>
// <div class="row">
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--gray-ghost selected">One</button>
//             <button class="btn btn--gray-ghost">Two</button>
//             <button class="btn btn--gray-ghost">Three</button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--primary-ghost">One</button>
//             <button class="btn btn--primary-ghost selected">Two</button>
//             <button class="btn btn--primary-ghost">Three</button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-edit"></span>
//             </button>
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-transcript"></span>
//             </button>
//             <button class="btn btn--gray-ghost selected">
//                 <span class="icon-text-size"></span>
//             </button>
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-zoom-in"></span>
//             </button>
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-zoom-out"></span>
//             </button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group">
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-edit"></span>
//             </button>
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-transcript"></span>
//             </button>
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-text-size"></span>
//             </button>
//             <button class="btn btn--primary-ghost selected">
//                 <span class="icon-zoom-in"></span>
//             </button>
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-zoom-out"></span>
//             </button>
//         </div>
//     </div>
// </div>
// <h6 class="section">Squared</h6>
// <div class="row">
//     <div class="col-md-3">
//         <div class="btn-group btn-group--square">
//             <button class="btn btn--gray-ghost selected">One</button>
//             <button class="btn btn--gray-ghost">Two</button>
//             <button class="btn btn--gray-ghost disabled">Three</button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group btn-group--square">
//             <button class="btn btn--primary-ghost">One</button>
//             <button class="btn btn--primary-ghost selected">Two</button>
//             <button class="btn btn--primary-ghost disabled">Three</button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group btn-group--square">
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-edit"></span>
//             </button>
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-transcript"></span>
//             </button>
//             <button class="btn btn--gray-ghost selected">
//                 <span class="icon-text-size"></span>
//             </button>
//             <button class="btn btn--gray-ghost disabled">
//                 <span class="icon-zoom-in"></span>
//             </button>
//             <button class="btn btn--gray-ghost">
//                 <span class="icon-zoom-out"></span>
//             </button>
//         </div>
//     </div>
//     <div class="col-md-3">
//         <div class="btn-group btn-group--square">
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-edit"></span>
//             </button>
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-transcript"></span>
//             </button>
//             <button class="btn btn--primary-ghost">
//                 <span class="icon-text-size"></span>
//             </button>
//             <button class="btn btn--primary-ghost selected">
//                 <span class="icon-zoom-in"></span>
//             </button>
//             <button class="btn btn--primary-ghost disabled">
//                 <span class="icon-zoom-out"></span>
//             </button>
//         </div>
//     </div>
// </div>
// <h6 class="section">Wide</h6>
// <div class="row">
//     <div class="col-md-6">
//         <div class="btn-group btn-group--wide">
//             <button class="btn btn--gray-ghost selected">One</button>
//             <button class="btn btn--gray-ghost">Two</button>
//             <button class="btn btn--gray-ghost disabled">Three</button>
//         </div>
//     </div>
//     <div class="col-md-6">
//         <div class="btn-group btn-group--wide">
//             <button class="btn btn--primary-ghost">One</button>
//             <button class="btn btn--primary-ghost selected">Two</button>
//             <button class="btn btn--primary-ghost disabled">Three</button>
//         </div>
//     </div>
// </div>
// <h6 class="section">With Divider</h6>
// <div class="btn-group btn-group--divider btn-group--wide">
//     <button class="btn btn--primary-ghost selected">One</button>
//     <button class="btn btn--primary-ghost">Two</button>
// </div>
// <div class="section">
//     <div class="btn-group btn-group--divider btn-group--wide">
//         <button class="btn btn--gray-ghost selected">One</button>
//         <button class="btn btn--gray-ghost">Two</button>
//     </div>
// </div>
//
// Weight: 10
//
// Styleguide Primitives.Button.Groups
//

.btns,
.btn-group {

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .btn + .btn {
        border-left: 1px solid transparent;
        margin: 0;
    }

    > .dropdown .btn,
    > .btn {
        display: inline-flex;
        padding: 0 $base-btn-group-padding;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        align-items: center;
        justify-content: center;

        @each $button-obj in $button-colors {
            &--#{map-get($button-obj, name)} {
                border: 1px solid map-get(map-get($button-obj, params), 'group-border-color');
            }
        }

        &.toggled {
            box-shadow: $base-btn-group-toggle-box-shadow;
        }

        &.toggled &.selected {
            background: unset;
        }

        &:first-child {
            padding-left: $base-btn-group-padding * 2;
            border-top-left-radius: $base-button-border-radius;
            border-bottom-left-radius: $base-button-border-radius;
        }

        &:last-child {
            padding-right: $base-btn-group-padding * 2;
            border-top-right-radius: $base-button-border-radius;
            border-bottom-right-radius: $base-button-border-radius;
        }

        &:focus {
            border: 1px solid transparent;
        }
    }

    &--square > .dropdown .btn,
    &--square > .btn {
        &:first-child {
            padding-left: $base-btn-group-padding;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:last-child {
            padding-right: $base-btn-group-padding;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.btn-group--large {
        .btn span[class^="icon-"] {
            font-size: 20px;
        }
    }

    &.btn-group--wide {
        > .btn {
            padding: 0 ($base-spacing * 1.5);

            &:first-child {
                padding-left: $base-spacing-dbl;
            }

            &:last-child {
                padding-right: $base-spacing-dbl;
            }
        }
    }

    &.btn-group--divider {
        width: 100%;
        text-align: center;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: $base-border-color;
            position: absolute;
        }

        > .btn {
            z-index: 1;
        }

        > .btn.btn--gray-ghost:not(.selected):not(:hover),
        > .btn.btn--primary-ghost:not(.selected):not(:hover) {
            background: $white;
        }
    }
}

.form-group + .divider,
.btn-group + .divider {
    border-top: none;
    border-left: $base-border;
    margin: 0 0 0 $base-spacing-half;
    padding-right: $base-spacing-half;
    height: 30px;
}


// Global Modifiers

&.cui--compressed .btn {
    @include btn-size(
        $padding: $aui-small-button-padding,
        $font-size: $aui-small-button-font-size,
        $line-height: $aui-small-button-line-height,
        $min-width: $aui-small-button-min-width,
        $max-width: $aui-small-button-max-width,
        $height: $aui-small-button-height
    );
}
&.cui--compressed .btn.btn--icon {
    @include btn-size(
        $height: $aui-small-button-icon-height,
        $line-height: $aui-small-button-icon-font-size,
        $min-width: $aui-small-button-icon-width,
        $max-width: $aui-small-button-icon-width,
        $font-size: $aui-small-button-icon-font-size,
        $padding: 0
    );
}
&.cui--compressed .btn-group > .dropdown .btn,
&.cui--compressed .btn-group > .btn {
    padding: 0 $base-spacing-qtr;
    &.selected {
        transition: all ease 0.25s;
    }
}

&.cui--animated .btn {
    transition: box-shadow 0.1s linear;
}
