//
// Checkbox
//
// Since: 1.0.0
//
// Styleguide Base.Checkbox
//


//
// States
//
// Markup:
// <form>
//     <label class="checkbox">
//         <input type="checkbox" checked name="checkbox1">
//         <span class="checkbox__input"></span>
//         <span class="checkbox__label">Selected</span>
//     </label>
//     <label class="checkbox">
//         <input type="checkbox" name="checkbox2">
//         <span class="checkbox__input"></span>
//         <span class="checkbox__label">Enabled</span>
//     </label>
//     <label class="checkbox disabled">
//         <input type="checkbox" checked name="checkbox3">
//         <span class="checkbox__input"></span>
//         <span class="checkbox__label">Disabled Selected</span>
//     </label>
//     <label class="checkbox" disabled>
//         <input type="checkbox" name="checkbox4">
//         <span class="checkbox__input"></span>
//         <span class="checkbox__label">Disabled</span>
//     </label>
// </form>
//
// Weight: 1
//
// Styleguide Base.Checkbox.States
//


//
// Form Group
//
// <blockquote>Wrap your checkbox elements in a `form-group` to align with other form elements</blockquote>
//
// Markup:
// <div class="row">
//     <div class="col-md-6">
//         <form>
//             <div class="form-group">
//                 <label class="checkbox">
//                     <input type="checkbox" name="checkbox6">
//                     <span class="checkbox__input"></span>
//                     <span class="checkbox__label">Ipsum</span>
//                 </label>
//                 <label class="checkbox">
//                     <input type="checkbox" checked name="checkbox7">
//                     <span class="checkbox__input"></span>
//                     <span class="checkbox__label">Dolor</span>
//                 </label>
//                 <label class="checkbox">
//                     <input type="checkbox" name="checkbox8">
//                     <span class="checkbox__input"></span>
//                     <span class="checkbox__label">Sit</span>
//                 </label>
//             </div>
//         </form>
//     </div>
// </div>
//
// Weight: 2
//
// Styleguide Base.Checkbox.Form Group
//


//
// Radio
//
// Since: 1.0.0
// sketch
//
// Styleguide Base.Radio
//


//
// States
//
// Markup:
// <form>
//     <label class="radio radio--alt">
//         <input type="radio" checked name="radio1">
//         <span class="radio__input"></span>
//         <span class="radio__label">On</span>
//     </label>
//     <label class="radio radio--alt">
//         <input type="radio" name="radio2">
//         <span class="radio__input"></span>
//         <span class="radio__label">Off</span>
//     </label>
//     <label class="radio radio--alt disabled">
//         <input type="radio" checked name="radio3">
//         <span class="radio__input"></span>
//         <span class="radio__label">Disabled On</span>
//     </label>
//     <label class="radio radio--alt" disabled>
//         <input type="radio" name="radio4">
//         <span class="radio__input"></span>
//         <span class="radio__label">Disabled Off</span>
//     </label>
// </form>
//
// Weight: 1
//
// Styleguide Base.Radio.States
//


//
// Form Group
//
// <blockquote>Wrap your radio elements in a `form-group` to align with other form elements</blockquote>
//
// Markup:
// <div class="row">
//     <div class="col-md-6">
//         <form>
//             <div class="form-group">
//                 <label class="radio radio--alt">
//                     <input type="radio" name="radio2">
//                     <span class="radio__input"></span>
//                     <span class="radio__label">Ipsum</span>
//                 </label>
//                 <label class="radio radio--alt">
//                     <input type="radio" checked name="radio2">
//                     <span class="radio__input"></span>
//                     <span class="radio__label">Dolor</span>
//                 </label>
//                 <label class="radio radio--alt">
//                     <input type="radio" name="radio2">
//                     <span class="radio__input"></span>
//                     <span class="radio__label">Sit</span>
//                 </label>
//             </div>
//         </form>
//     </div>
// </div>
//
// Weight: 2
//
// Styleguide Base.Radio.Form Group
//


//
// Layout
//
// Markup:
// <div>
//     <p>Inline (default)</p>
//     <label class="radio radio--alt">
//         <input type="radio" name="radio-inline">
//         <span class="radio__input"></span>
//         <span class="radio__label">Ipsum</span>
//     </label>
//     <label class="radio radio--alt">
//         <input type="radio" checked name="radio-inline">
//         <span class="radio__input"></span>
//         <span class="radio__label">Dolor</span>
//     </label>
//     <label class="radio radio--alt">
//         <input type="radio" name="radio-inline">
//         <span class="radio__input"></span>
//         <span class="radio__label">Sit</span>
//     </label>
// </div>
// <br>
// <div>
//     <p>Stacked</p>
//     <label class="radio radio--alt radio--stacked">
//         <input type="radio" name="radio-stacked">
//         <span class="radio__input"></span>
//         <span class="radio__label">Ipsum</span>
//     </label>
//     <label class="radio radio--alt radio--stacked">
//         <input type="radio" checked name="radio-stacked">
//         <span class="radio__input"></span>
//         <span class="radio__label">Dolor</span>
//     </label>
//     <label class="radio radio--alt radio--stacked">
//         <input type="radio" name="radio-stacked">
//         <span class="radio__input"></span>
//         <span class="radio__label">Sit</span>
//     </label>
// </div>
//
// Weight: 3
//
// Styleguide Base.Radio.Layout
//

.form-group {
    .checkbox,
    .radio {
        float: left;
        margin-right: $base-spacing * 0.5;
        padding: 1px 0 4px;

        input {
            display: block;
            position: absolute;
        }
    }
}

.checkbox.disabled,
.checkbox[disabled],
.radio.disabled,
.radio[disabled] {
    input {
        display: none;
        &:checked {
            ~.checkbox__label,
            ~.radio__label,
            ~.checkbox__input:after,
            ~.radio__input:after {
                color: $base-font-color;
            }
            ~.checkbox__input:before,
            ~.radio__input:before {
                box-shadow: inset 0 0 0 2px $base-muted-color;
            }
            ~.radio__input:after {
                background-color: $base-muted-color;
            }
        }
    }
}

.checkbox,
.radio {
    @include text-ellipsis;
    position: relative;
    display: inline-flex;
    white-space: normal;
    align-items: center;
    color: $base-font-color;
    cursor: pointer;
    font-size: 0;
    transition: all 0.1s linear;

    &.checkbox--inline {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    &.radio--stacked {
        display: block;
    }

    &:hover {
        color: $base-accent-color;
    }

    input {
        @include hidden-input;
        &:hover {
            ~ .checkbox__input,
            ~ .radio__input {
                &:before {
                    box-shadow: inset 0 0 0 2px $base-accent-color;
                }
            }
        }
        &:checked {
            ~ .checkbox__label,
            ~ .radio__label {
                color: $base-font-color;
            }
            &:hover {
                ~ .checkbox__input,
                ~ .radio__input {
                    &:before {
                        background-color: $base-accent-color;
                    }
                    &:after {
                        color: $white;
                    }
                }
                ~ .radio__input {
                    &:after {
                        background-color: $base-muted-color;
                        border: 6px solid $base-accent-color;
                    }
                }
            }
            ~ .checkbox__input,
            ~ .radio__input {
                &:before {
                    background: transparent;
                    box-shadow: inset 0 0 0 2px $base-accent-color;
                }
                &:after {
                    display: block;
                }
            }
        }
        &:focus {
            ~ .checkbox__input,
            ~ .radio__input {
                outline: $base-outline;
                outline-offset: -4px;
                &:before {
                    box-shadow: inset 0 0 0 2px $base-accent-color;
                }
            }
            ~ .checkbox__label,
            ~ .radio__label {
                color: $base-accent-color;
            }
        }
    }

    .checkbox__input,
    .radio__input {
        position: relative;
        display: inline-block;
        width: 28px;
        min-width: 28px;
        height: 28px;
        vertical-align: middle;

        &:before,
        &:after {
            position: absolute;
            top: 6px;
            right: 0;
            bottom: 0;
            left: 6px;
            width: 16px;
            height: 16px;
            content: '';
        }

        &:before {
            box-shadow: inset 0 0 0 2px $base-muted-color;
        }
        &:after {
            display: none;
            color: $base-accent-color;
            font-weight: bold;
            line-height: 1;
        }
    }

    .checkbox__input {
        &:after {
            @include icon-check;
            padding: 3px;
            font-size: 10px;
        }
    }

    .radio__input {
        &:before {
            border-radius: 50%;
        }
        &:after {
            box-shadow: inset 0 0 0 4px $base-background-color;
            border-radius: 50%;
            background-color: $base-accent-color;
            border: 2px solid transparent;
        }
    }

    &--alt {
        .radio__input {
            &:after {
                box-shadow: inset 0 0 0 4px $alt-background-color;
            }
        }
    }

    .checkbox__label,
    .radio__label {
        @include flex-fluid;
        font-size: $base-font-size;
        font-weight: $base-font-weight;
        vertical-align: middle;
    }
}
