//
// List
//
// Styleguide Primitives.List
//


//
// Spacing / Vertical
//
// <blockquote>Spacing between elements in a list can be specified using the modifiers shown below. This is useful when you need to manage spacing (margins) between your components.</blockquote>
//
// Markup:
// <div class="row">
//     <div class="col-md-3">
//         <p>Spacing (default)</p>
//         <ul class="list">
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//         </ul>
//     </div>
//     <div class="col-md-3">
//         <p>Compressed</p>
//         <ul class="list list--compressed">
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//         </ul>
//     </div>
//     <div class="col-md-3">
//         <p>Regular</p>
//         <ul class="list list--regular">
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//         </ul>
//     </div>
//     <div class="col-md-3">
//         <p>Loose</p>
//         <ul class="list list--loose">
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//             <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//         </ul>
//     </div>
// </div>
//
// Weight: 1
//
// Styleguide Primitives.List.SpacingVertical
//


//
// Spacing / Horizontal
//
// <blockquote>By default, lists are vertically-stacked. Add the class modifier `list--inline` to render list elements as an inline list.</blockquote>
//
// Markup:
// <p>Spacing (default)</p>
// <ul class="list list--inline">
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
// </ul>
// <br>
// <p>Compressed</p>
// <ul class="list list--inline list--compressed">
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
// </ul>
// <br>
// <p>Regular</p>
// <ul class="list list--inline list--regular">
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
// </ul>
// <br>
// <p>Loose</p>
// <ul class="list list--inline list--loose">
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
//     <li><div class="panel panel--bordered"><img src="public/img/short-paragraph.png"></div></li>
// </ul>
//
// Weight: 2
//
// Styleguide Primitives.List.SpacingHorizontal
//


//
// Highlighting
//
// <blockquote>Add the class modifier `list--highlight` to add a hover effect to each element in the list.</blockquote>
//
// Markup:
// <ul class="list list--highlight">
//     <li><div class="panel panel--bordered">One</div></li>
//     <li><div class="panel panel--bordered">Two</div></li>
//     <li><div class="panel panel--bordered">Three</div></li>
// </ul>
//
// Weight: 3
//
// Styleguide Primitives.List.Highlighting
//


//
// Ordered List
//
// Markup:
// <ol>
//     <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
//     <li>Maecenas facilisis quam eget pellentesque efficitur.
//         <ol>
//             <li>Vivamus condimentum nunc sit amet lorem dapibus, quis scelerisque erat finibus.</li>
//             <li>Sed dapibus ex ut tortor suscipit, sed tristique sapien luctus.
//                 <ol>
//                     <li>Aliquam vitae turpis porta, bibendum leo non, aliquet velit.</li>
//                     <li>Proin tempor ligula ut fermentum faucibus.</li>
//                 </ol>
//             </li>
//          </ol>
//     </li>
//     <li>Mauris consequat metus at magna tincidunt faucibus.</li>
// </ol>
//
// Weight: 4
//
// Styleguide Primitives.List.OrderedList
//


//
// Unordered List
//
// Markup:
// <ul>
//     <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
//     <li>Maecenas facilisis quam eget pellentesque efficitur.
//         <ul>
//             <li>Vivamus condimentum nunc sit amet lorem dapibus, quis scelerisque erat finibus.</li>
//             <li>Sed dapibus ex ut tortor suscipit, sed tristique sapien luctus.
//                 <ul>
//                     <li>Aliquam vitae turpis porta, bibendum leo non, aliquet velit.</li>
//                     <li>Proin tempor ligula ut fermentum faucibus.</li>
//                 </ul>
//             </li>
//         </ul>
//     </li>
//     <li>Mauris consequat metus at magna tincidunt faucibus.</li>
// </ul>
//
// Weight: 5
//
// Styleguide Primitives.List.UnorderedList
//


//
// Unstyled List
//
// Markup:
// <ul class="list--unstyled">
//     <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
//     <li>Maecenas facilisis quam eget pellentesque efficitur.
//         <ul>
//             <li>Vivamus condimentum nunc sit amet lorem dapibus, quis scelerisque erat finibus.</li>
//             <li>Sed dapibus ex ut tortor suscipit, sed tristique sapien luctus.
//                 <ul>
//                     <li>Aliquam vitae turpis porta, bibendum leo non, aliquet velit.</li>
//                     <li>Proin tempor ligula ut fermentum faucibus.</li>
//                 </ul>
//             </li>
//         </ul>
//     </li>
//     <li>Mauris consequat metus at magna tincidunt faucibus.</li>
// </ul>
//
// Weight: 6
//
// Styleguide Primitives.List.UnstyledList
//


//
// Description List
//
// Markup:
// <div class="subheader">Stacked</div>
// <div>
//     <dl>
//         <dt>But I must explain</dt>
//         <dd>To you how all this mistaken</dd>
//         <dt>Idea of denouncing hatred</dt>
//         <dd>Great explorer of the truth</dd>
//         <dt>To take a trivial example</dt>
//         <dd>That they cannot foresee</dd>
//         <dt>Who avoids a pain that produced</dt>
//         <dd>Consequences that are extremely</dd>
//     </dl>
// </div>
// <div>
//     <div class="subheader">Inline</div>
//     <dl class="dl--inline">
//         <dt>But I must explain</dt>
//         <dd>To you how all this mistaken</dd>
//         <dt>Idea of denouncing hatred</dt>
//         <dd>Great explorer of the truth</dd>
//         <dt>To take a trivial example</dt>
//         <dd>That they cannot foresee</dd>
//         <dt>Who avoids a pain that produced</dt>
//         <dd>Consequences that are extremely</dd>
//     </dl>
// </div>
// <br>
// <div>
//     <div class="subheader">Inline Centered</div>
//     <dl class="dl--inline-centered">
//         <dt>But I must explain</dt>
//         <dd>To you how all this mistaken</dd>
//         <dt>Idea of denouncing hatred</dt>
//         <dd>Great explorer of the truth</dd>
//         <dt>To take a trivial example</dt>
//         <dd>That they cannot foresee</dd>
//         <dt>Who avoids a pain that produced</dt>
//         <dd>Consequences that are extremely</dd>
//     </dl>
// </div>
// <br>
// <div>
//     <div class="subheader">Inline Wrapped</div>
//     <dl class="dl--inline-wrap">
//         <dt>But I must explain</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//         <dt>Idea of denouncing hatred</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//         <dt>To take a trivial example</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//         <dt>Who avoids a pain that produced</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//     </dl>
// </div>
// <br>
// <div>
//     <div class="subheader">Inline Wrapped and Centered</div>
//     <dl class="dl--inline-wrap dl--inline-centered">
//         <dt>But I must explain</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//         <dt>Idea of denouncing hatred</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//         <dt>To take a trivial example</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//         <dt>Who avoids a pain that produced</dt>
//         <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius elit sit amet aliquam luctus. In sed odio ut nulla bibendum faucibus. Maecenas consequat sagittis nisl in dignissim. In varius turpis at neque fermentum, eget commodo arcu fermentum.</dd>
//     </dl>
// </div>
//
// Weight: 7
//
// Styleguide Primitives.List.Description
//

.list {
	list-style: none;
    padding: 0;
	margin: 0;

	li {
		display: block;
	}
	li+li {
		margin: -1px 0 0 0; // Elements in list are joined by default
	}

	&.list--inline {
		@include list--inline;

		&.list--divider {
			@include list-divider;
		}
		&.list--compressed li+li {
			margin: 0 0 0 $base-spacing-compressed;
		}
		&.list--regular li+li {
			margin: 0 0 0 $base-spacing-regular;
		}
		&.list--loose li+li {
			margin: 0 0 0 $base-spacing-loose;
		}
	}

	&.list--highlight > li:hover > * {
		cursor: pointer;
		background-color: $base-hover-color;
	}
	&.list--aligntop li:first-child {
		align-items: flex-start;
	}
	&.list--fillbg {
		background-color: $white;
	}
    &.list--compressed li+li {
    	margin-top: $base-spacing-compressed;
    }
    &.list--regular li+li {
    	margin-top: $base-spacing-regular;
    }
    &.list--loose li+li {
    	margin-top: $base-spacing-loose;
    }
}



@mixin dl-size($width) {
    width: $width;
}

dl, dt, dd {
    margin: 0;
}

dt {
    @include text-ellipsis;
    font-weight: $base-dl-label-font-weight;
}

dd {
    margin-bottom: $base-dl-label-bottom-spacing;
}

dl.dl--skinny {
    dt {
        width: $base-spacing * 5;
    }
}

dl.dl--compressed dd {
    margin-bottom: 0;
}

.dl--inline,
.dl--inline-centered,
.dl--inline-wrap,
.dl--horizontal {
    @include text-ellipsis;
    @include clearfix;

    dt {
        width: auto;
        float: none;
        padding-right: 0;

        @include media-breakpoint-up(xs) {
            @include text-ellipsis;
            @include dl-size($width: $base-dl-label-width-medium);
            padding-right: $base-dl-label-right-spacing;
            float: left;
            clear: left;
        }
    }

    dd {
        @include text-ellipsis;
        float: none;
        margin-bottom: $base-dl-label-bottom-spacing;

        @include media-breakpoint-up(xs) {
            margin-bottom: 0;
            float: left;
        }
    }
}

.dl--inline-centered {
    dt {
        text-align: left;

        @include media-breakpoint-up(xs) {
            text-align: right;
        }
    }
}

.dl--inline-wrap {
    dd {
        white-space: normal;
        float: none;
    }
}

@each $label, $size in $base-dl-sizes {
    .dl--inline-#{$label} {
        dt {
            @include media-breakpoint-up(xs) {
                @include dl-size($width: $size);
            }
        }
    }
}



// Global Modifiers

&.cui--compressed .list li+li {
	margin: -1px 0 0 0;
}
&.cui--compressed .list.list--inline li+li {
	margin: 0 0 0 $base-spacing-compressed;
}
