//
// Footer
//
// Styleguide Layout.Footer
//


//
// Default
//
// Markup:
// <footer class="footer">
//     <div class="footer__links">
//         <ul class="list">
//             <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
//             <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
//             <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
//         </ul>
//     </div>
//     <div class="footer__legal">
//         <div class="footer__logo">
//             <a href="http://www.cisco.com" target="_blank">
//                 <span class="icon-cisco"></span>
//             </a>
//         </div>
//         <div class="footer__copyright">
//             <div>Copyright &copy; 2019 Cisco Systems Inc.</div>
//             <div>All rights reserved.</div>
//         </div>
//     </div>
// </footer>
//
// Weight: 1
//
// Styleguide Layout.Footer.Example
//


//
// Basic
//
// <blockquote>The links in this footer are the minimum required by Cisco legal.</blockquote>
//
// Markup:
// <footer class="footer footer--basic">
//     <div class="footer__links">
//         <ul class="list">
//             <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
//             <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
//             <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
//         </ul>
//     </div>
// </footer>
//
// Weight: 2
//
// Styleguide Layout.Footer.Basic
//


//
// Spacing
//
// Markup:
// <p>COMPRESSED</p>
// <footer class="footer footer--basic footer--compressed">
//     <div class="footer__links">
//         <ul class="list">
//             <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
//             <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
//             <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
//         </ul>
//     </div>
// </footer>
// <p>DEFAULT</p>
// <footer class="footer footer--basic">
//     <div class="footer__links">
//         <ul class="list">
//             <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
//             <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
//             <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
//         </ul>
//     </div>
// </footer>
// <p>LOOSE</p>
// <footer class="footer footer--basic footer--loose">
//     <div class="footer__links">
//         <ul class="list">
//             <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
//             <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
//             <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
//             <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
//         </ul>
//     </div>
// </footer>
//
// Weight: 3
//
// Styleguide Layout.Footer.Spacing
//

footer, .footer {

    display: flex;
    padding: $footer-spacing-regular;
    background-color: $footer-background-color;
    color: $footer-color;

    .footer__links,
    .footer__legal {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }

    .footer__links {
        ul.list {
            column-count: 2;
            column-gap: $base-spacing * 2;

            li {
                a {
                    color: $footer-color;
                    &:hover {
                        color: $footer-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer__legal {
        .footer__logo {
            margin-right: $base-spacing * 0.5;

            a {
                color: $footer-color;
                .icon-cisco {
                    font-size: 3.5rem;
                }
            }
        }
    }

    &.footer--basic {
        .footer__links {
            ul.list {
                @include media-breakpoint-up(xl) {
                    @include list--inline;
                    @include list-divider;
                }
            }
        }
    }

    &.footer--compressed {
        padding: $footer-spacing-compressed;
    }

    &.footer--loose {
        padding: $footer-spacing-loose;
    }

    &.footer--sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@include media-breakpoint-down(md) {
    .footer.footer--new {
        font-size: $small-font-size;
    }
    .footer.footer--new.footer--basic {
        .footer__links {
            column-count: 2;
        }
    }
}

@include media-breakpoint-down(xs) {
    .footer.footer--new:not(.footer--basic) {
        padding: $footer-spacing-compressed;
        .footer__links {
            ul.list {
                column-count: 1;
            }
        }

        .footer__copyright {
            display: none;
        }

        .footer__legal {
            align-items: flex-start;
            flex-direction: column;

            .footer__logo {
                margin-top: $base-spacing * 0.5;
                order: 2;

                a {
                    .icon-cisco {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
