//
// Header
//
// Styleguide Layout.Header
//


//
// Default
//
// Markup:
// <div class="panel panel--ltgray panel--compressed IGNORE">
// <header class="header">
//     <div class="header-bar container">
//         <a href="javascript:;" class="btn btn--small btn--icon toggle-menu">
//             <span class="icon-list-menu"></span>
//         </a>
//         <a href="javascript:;" class="header-bar__logo">
//             <span class="icon-cisco"></span>
//         </a>
//         <div class="header-bar__main">
//             <div class="header-breadcrumbs">
//                 <ul class="breadcrumb">
//                     <li><a href="javascript:;">Operate</a></li>
//                     <li><a href="javascript:;">Devices</a></li>
//                     <li><span>Discovery</span></li>
//                 </ul>
//             </div>
//             <div class="header-heading">
//                 <h1 class="page-title">Wide Array Extended Network Dashboard</h1>
//             </div>
//         </div>
//         <div class="header-toolbar">
//             <a href="javascript:;" class="btn btn--icon">
//                 <span class="icon-search"></span>
//             </a>
//             <a href="javascript:;" class="btn btn--icon">
//                 <span class="icon-alert"></span>
//             </a>
//             <a href="javascript:;" class="btn btn--icon">
//                 <span class="icon-cog"></span>
//             </a>
//         </div>
//     </div>
// </header>
// </div IGNORE>
//
// Weight: 1
//
// Styleguide Layout.Header.Default
//


//
// Minimum
//
// Markup:
// <div class="panel panel--ltgray panel--compressed IGNORE">
// <header class="header">
//     <div class="header-bar container">
//         <a href="javascript:;" class="btn btn--small btn--icon toggle-menu">
//             <span class="icon-list-menu"></span>
//         </a>
//         <a href="javascript:;" class="header-bar__logo">
//             <span class="icon-cisco"></span>
//         </a>
//         <div class="header-bar__main">
//             <div class="header-heading">
//                 <h1 class="page-title">Product Name</h1>
//             </div>
//         </div>
//         <div class="header-toolbar">
//             <a href="javascript:;" class="btn btn--icon">
//                 <span class="icon-search"></span>
//             </a>
//             <a href="javascript:;" class="btn btn--icon">
//                 <span class="icon-cog"></span>
//             </a>
//         </div>
//     </div>
// </header>
// </div IGNORE>
//
// Weight: 2
//
// Styleguide Layout.Header.Minimum
//


//
// Compressed
//
// Markup:
// <div class="panel panel--ltgray panel--compressed IGNORE">
// <header class="header header--compressed">
//     <div class="header-bar container">
//         <a href="javascript:;" class="header-bar__logo">
//             <span class="icon-cisco"></span>
//         </a>
//         <div class="header-bar__main">
//             <div class="header-heading">
//                 <h1 class="page-title">Devices</h1>
//             </div>
//         </div>
//         <div class="header-toolbar">
//             <a href="javascript:;" class="btn btn--small btn--icon">
//                 <span class="icon-search"></span>
//             </a>
//             <a href="javascript:;" class="btn btn--small btn--icon">
//                 <span class="icon-tools"></span>
//             </a>
//             <a href="javascript:;" class="btn btn--icon btn--small btn--negative">
//                 <span class="icon-close"></span>
//             </a>
//         </div>
//     </div>
// </header>
// </div IGNORE>
//
// Weight: 3
//
// Styleguide Layout.Header.Compressed
//


//
// Everything
//
// Markup:
// <div class="panel panel--ltgray panel--compressed IGNORE">
// <header class="header header--tall">
//     <div class="header-bar container">
//         <a href="javascript:;" class="btn btn--small btn--icon toggle-menu">
//             <span class="icon-list-menu"></span>
//         </a>
//         <a href="javascript:;" class="header-bar__logo">
//             <span class="icon-cisco"></span>
//         </a>
//         <div class="header-bar__main">
//             <div class="header-breadcrumbs">
//                 <ul class="breadcrumb">
//                     <li><a href="javascript:;">Operate</a></li>
//                     <li><a href="javascript:;">Devices</a></li>
//                     <li><span>Discovery</span></li>
//                 </ul>
//             </div>
//             <div class="header-heading">
//                 <h1 class="page-title">Wide Array Extended Network Dashboard</h1>
//                 <div class="header-utilities">
//                     <a href="javascript:;" class="link">
//                         <span class="icon-home"></span>
//                     </a>
//                     <a href="javascript:;" class="link">
//                         <span class="icon-star"></span>
//                     </a>
//                     <a href="javascript:;" class="link">
//                         <span class="icon-refresh"></span>
//                     </a>
//                     <a href="javascript:;" class="link">
//                         <span class="icon-info-circle"></span>
//                     </a>
//                 </div>
//             </div>
//             <div class="header-menus">
//                 <ul class="nav nav-tabs">
//                     <li class="tab active">
//                         <a href="javascript:;"><div class="tab__heading" title="Tab 1">Tab 1</div></a>
//                     </li>
//                     <li class="tab">
//                         <a href="javascript:;"><div class="tab__heading" title="Tab 2">Tab 2</div></a>
//                     </li>
//                     <li class="tab">
//                         <a href="javascript:;"><div class="tab__heading" title="Tab 3">Tab 3</div></a>
//                     </li>
//                 </ul>
//             </div>
//         </div>
//         <div class="header-toolbar">
//             <a href="javascript:;" class="avatar">John Doe</a>
//             <button class="btn btn--icon">
//                 <span class="icon-search"></span>
//             </button>
//             <button class="btn btn--icon btn--negative">
//                 <span class="icon-alert"></span>
//                 <span class="btn__subtext">999+</span>
//             </button>
//             <button class="btn btn--icon">
//                 <span class="icon-mail"></span>
//                 <span class="btn__subtext">34</span>
//             </button>
//             <button class="btn btn--icon">
//                 <span class="icon-cog"></span>
//             </button>
//         </div>
//     </div>
// </header>
// </div IGNORE>
//
// Weight: 4
//
// Styleguide Layout.Header.Everything
//

.header {
    flex-shrink: 0;
    background: $header-background-color;
    border-bottom: 1px solid $base-border-color;
    z-index: $header-zindex;
    overflow: visible; // To accommodate dropdowns

    > div:last-child:empty {
        display: none;
    }

    &-bar {
        display: flex;
        align-items: center;
        height: $header-height-small;

        @include media-breakpoint-up(xs) {
            height: $header-height-large;
        }

        .btn.toggle-menu {
            z-index: 1031;
            > span {
                font-weight: bold;
            }
        }

        &__logo {
            display: none;

            @include media-breakpoint-up(xs) {
                display: block;
                margin: $header-logo-margin;
            }

            &:hover {
                text-decoration: none !important;
            }

            span.icon-cisco {
                color: $cisco-logo;
                display: block;
                font-size: $header-logo-size;
                line-height: 1;
            }

            img {
                display: block;
                width: auto;
                height: $header-logo-size;
            }
        }

        &__main {
            flex: 1;
            align-self: stretch;
            margin: 0 $base-spacing;
            position: relative;

            @include media-breakpoint-up(xs) {
                position: relative;
            }
        }
    }

    &--compressed {
        .header-bar {
            @include media-breakpoint-up(xs) {
                height: $header-height-small;
            }
        }

        .header-bar__logo {
            span.icon-cisco {
                font-size: $header-logo-size-small;
            }

            @include media-breakpoint-up(xs) {
                margin: $header-logo-margin-small;
            }
        }
    }

    &--regular {
        .header-bar {
            @include media-breakpoint-up(xs) {
                height: $header-height-regular;
            }
        }
    }

    &--tall {
        .header-bar {
            @include media-breakpoint-up(xs) {
                height: $header-height-tall;
            }
        }
    }
}


// -----------------------------------------------------------------------------
// Container for the optional breadcrumbs, page title, and optional menus

.header-heading {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .page-title {
        @include text-ellipsis;
        margin-left: auto;
        margin-right: auto;
        font-size: $header-title-size-small;
        font-weight: 200;

        @include media-breakpoint-up(xs) {
            margin: 0;
            font-size: $header-title-size-large;
            max-width: inherit;
        }
    }

    .link {
        padding: 7.5px;

        > span {
            font-size: 16px;
        }
    }
}


// -----------------------------------------------------------------------------
// Optional breadcrumbs located above the page title

.header-breadcrumbs {
    display: none;

    @include media-breakpoint-up(xs) {
        margin: $header-breadcrumbs-margin;
        font-size: $header-breadcrumbs-font-size;
        display: block;
        position: absolute;
        top: 0;
        line-height: 1;
        z-index: 1;
    }
}

.breadcrumb-bar {
    display: block;
    margin-top: $base-spacing * 0.5;
    @include media-breakpoint-up(xs) {
        display: none;
    }
}


// -----------------------------------------------------------------------------
// Optional utilities toolbar to the right of the page title

.header-utilities {
    display: none;

    @include media-breakpoint-up(xs) {
        display: flex;
        flex: 1;
    }

    > * {
        margin: $header-utilities-margin;

        &:first-child {
            margin-left: 20px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


// -----------------------------------------------------------------------------
// Optional tabbed navigation menus

.header-menus {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .nav.nav-tabs {
        display: none;

        @include media-breakpoint-up(xs) {
            display: block;
            overflow-x: auto;
        }
    }
}


// -----------------------------------------------------------------------------
// Top-right toolbar containing buttons global to the page / application

.header-toolbar {
    display: none;
    align-items: center;
    justify-content: center;

    // hide dropdown toggle caret if dropdown toggle is a header-toolbar button
    & > .dropdown .dropdown-toggle:after {
        content: normal;
    }

    .avatar {
        margin-right: $base-spacing * 0.5;
    }

    @include media-breakpoint-up(xs) {
        display: flex;
        align-items: center;
    }
}

.secondary-nav {
    span[class^="icon-"] {
        font-size: 20px;
    }
}
